<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="dongdong_market"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- MainActivity: Flutter 앱의 기본 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter 초기 테마 설정 -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- 앱 런처 인텐트 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- AuthCodeHandlerActivity: 카카오톡 로그인 후 앱으로 리디렉션 처리 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 카카오 네이티브 앱 키를 "kakao" 접두사와 함께 사용 -->
                <data
                    android:scheme="kakao727e6320b93d138e91413bd891cf48da"
                    android:host="oauth" />
            </intent-filter>
        </activity>

        <!-- Flutter embedding 설정 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Flutter 텍스트 처리 플러그인 관련 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
